node_modules
.gradle
.idea
build
android/app/build
android/.gradle
android/.idea
www
.firebase
dist
*.log
.DS_Store
.env
.capacitor
capacitor.js
.gemini
_agent
_agents
.agents
.agent
brain
tmp
pass.txt
